<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <h1><%= description %></h1>
    <p>Usamos ejs</p>

    <h2>Sintáxis ejs</h2>
    <p> <% %> etiquetas que indican codígo js.</p>
    <p> <%= %> EJS debe imprimir el valor del contenido entre las etiquetas</p>
    <p> <%- %> ejecutar funciones. Por ejemplo la función include().</p>
    
    <h2>Saludo</h2>
    <%= saludo %>
    
</body>
</html>